

.involved-container {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.involvedwrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;
  align-items: center;
}

.involvedwrapper a {
  display: block;
  width: 300px;
  height:225px;    
  overflow: hidden;  
}

.involvedwrapper a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.gallery-container {
  text-align: center;
  padding: 20px;
}

.gallery-container h1 {
  font-family: "Limelight", sans-serif;
  color: #3d60a0;
  margin-bottom: 15px;
}

.gallery-nav {
  margin-bottom: 25px;
}

.gallery-nav button {
  background-color: #11306a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

.gallery-nav button:hover {
  background-color: #1a4d9b;
}



@media screen and (max-width: 1024px) {
  .involvedwrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .involvedwrapper {
    grid-template-columns: 1fr;
  }

  .gallery-nav button {
    width: 80%;
    font-size: 14px;
  }
}
