reg-pol {
	display: inline-block;
	width: 200px;
	aspect-ratio: var(--ar);
	corner-shape: bevel;
	border-radius: var(--br);
	box-sizing: border-box;
	border: 10px solid aqua;
	background-color: darkcyan;
	vertical-align: middle;
	margin: 1rem;

	&[sides="3"] {
		--ar: 1 / calc(sqrt(2) / 2);
		--br: 50% 50% 0 0 / 100% 100% 0 0;
		&[angle="down"] {
			--br: 0 0 50% 50% / 0 0 100% 100%;
		}
	}
	&[sides="4"] {
		--ar: 1 / 1;
		--br: 50%;
		&[angle="down"] {
			--br: 0;
		}
	}
	&[sides="5"] {
		--ar: 1 / cos(18deg);
		--br: 50% 50% 18.92% 18.92% / 38.73% 38.73% 61.27% 61.27%;
		&[angle="down"] {
			--br: 18.92% 18.92% 50% 50% / 61.27% 61.27% 38.73% 38.73%;
		}
	}
	&[sides="6"] {
		--ar: 1 / 1.15;
		--br: 50% / 25%;
		&[angle="down"] {
			--ar: 1 / 0.85;
			--br: 25% / 50%;
		}
	}
	&[sides="8"] {
		--ar: 1 / 1;
		--br: calc(100% * (1 - 1 / sqrt(2)));
	}
}

body {
	text-align: center;
	background-color: #1d1e22;
}
